html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {    
    padding-bottom: 160px;
}


.RatingBox {
    border: solid 1px gray;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    vertical-align: middle;
    font-weight: bold;
    background-color: black;
}

.loader {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.AdvancedOptions::after {
    content: 'Optional Settings';
    position: absolute;
    margin-top: -34px;
    margin-left: 27%;
    background-color: var(--bs-body-bg);
    padding: 5px
}

.sticky-header2 {
}

.sticky-header thead {
    position: sticky;
    top: -1px;
}

.sticky-header th {
    position: sticky;
    top: 0;
}

.sticky-header td {
}


.code {
    text-align: center;
    color: #7fb2e9;
    word-wrap: break-word;
    padding: 1rem;
}

.eq:after {
    content: attr(data-eqNo);
    color: var(--bs-body-color);
    font-size: 0.9rem;
    border: solid 1px;
    border-radius: 10%;
    padding: 5px;
    padding-bottom: 5px;
    padding-top: 2px;    
    margin-left: 50px;
    background-color: #353535;
}

.error-list {
    margin-top: 0;
    margin-bottom: 0;
}