@inject IAppVersionService AppVersionService
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E4Q2TZ7EC4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-E4Q2TZ7EC4');
    </script>
    @* <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7855962973375225"
            crossorigin="anonymous"></script> *@

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Plan out which World of Warcraft mythic keystone dungeons you need run this week or the next to obtain your desired mythic rating. This tool will calculate all the ratings you would get from running keystone dungeons and suggest some options for how to optimally obtain the desired rating">

    <title>Mythic Planner</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MythicPlanner.styles.css" asp-append-version="true" />
    <link href="~/lib/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="~/lib/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="~/lib/fontawesome/css/solid.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">           
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            <div class="row">
                <div class="footer-col-rt col">
                    &copy; 2023 - Mythic Planner <small class=" d-none d-sm-inline">@AppVersionService.Version</small> - <a href="https://github.com/SamFarah/RatingCalculator" target="_blank">GitHub</a>
                </div>
                <div class="footer-col-lf col text-end">
                    Powered by <a href="https://raider.io/" target="_blank"><img height="17px" src="~/images/logo_2colorwhite.png" /></a>
                </div>
            </div>
        </div>
        
    </footer>    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)   
</body>
</html>
